.divContador {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #708090 1px;
  padding: 20px;
}

.divContador h1 {
  margin: 0
}

.divBotoes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
